/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #360C0C;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    margin-left: 155px;
}

.centre-not-connected {
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 5px;
}

.header-line {
    width: 100%;
    max-width: 200px;
    height: 1px;
    background-color: #fff;
    margin: 5px 0;
}

.header-subtitle {
    font-size: 1em;
}

.hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar1, .bar2, .bar3 {
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease, width 0.3s ease;
}

.bar1 { width: 45px; }
.bar2 { width: 35px; }
.bar3 { width: 25px; }

.login-container {
    margin-right: 20px;
}

/* Bouton du dropdown */
.login-btn {
    width: 35px;
}

/* Styles pour le bouton de bienvenue */
.welcome-btn {
    background-color: #fff;
    color: #360C0C;
    border: 2px solid #360C0C;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-top: 10px;
    text-align: center;
}

.welcome-btn:hover {
    background-color: #360C0C;
    color: #fff;
}

/* Conteneur de dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center; /* Ajouté pour centrer le contenu */
}

/* Contenu du dropdown (caché par défaut) */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px; /* Un peu d'espace entre le bouton et le menu */
    opacity: 0; /* Début avec une opacité de 0 pour l'animation */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transition pour l'animation */
    transform: translateY(-10px); /* Début avec une légère translation vers le haut */
}

/* Afficher le contenu du dropdown */
.dropdown.show .dropdown-menu {
    display: block;
    opacity: 1; /* Opacité 1 pour afficher le contenu */
    transform: translateY(0); /* Réinitialiser la translation */
}

/* Liens du dropdown */
.dropdown-menu a {
    color: #360C0C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

/* Styles des liens au survol */
.dropdown-menu a:hover {
    background-color: #360C0C;
    color: #fff;
}

/* Styles des boutons */
.admin-btn, .logout-btn {
    background-color: #fff;
    color: #360C0C;
    border: 2px solid #360C0C;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
    padding: 8px 16px;
    border-radius: 4px;
    margin: 5px 0; /* Espace entre les boutons */
}

/* Styles des boutons au survol */
.admin-btn:hover, .logout-btn:hover {
    background-color: #360C0C;
    color: #fff;
}

/* Styles CSS pour la side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #360C0C;
    overflow-x: hidden;
    transition: width 0.5s, opacity 0.5s;
    padding-top: 60px;
    text-align: left; 
    z-index: 1000; /* Assurez-vous que la side nav a un z-index élevé */
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav ul li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
    margin: 5px 15px;
    font-size: 1.1em;
    font-weight: bold;
}

.sidenav ul li a {
    color: #fff;
    text-decoration: none;
    flex-grow: 1;
}

.sidenav ul li img {
    height: 32px;
    margin-right: 10px; /* Ajoutez un espace entre l'icône et le texte */
}

.sidenav ul li:hover {
    background-color: #444;
    color: #f0f0f0;
    transform: scale(1.05);
}

.sidenav span {
    display: block;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.sidenav .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2em;
    cursor: pointer;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sidenav .closebtn:hover {
    color: #f0f0f0;
    transform: rotate(90deg);
}

main {
    padding: 20px;
}

.main-contenu {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.main-contenu h2 {
    color: #360C0C;
    font-size: 2em;
}

/* Styles CSS pour le conteneur de la vidéo */
.video-conteneur {
    position: relative;
    padding-bottom: 100px; 
    overflow: hidden;
    width: 100%;
    max-width: 865px; /* Taille moyenne pour la vidéo */
    margin: 0 auto; /* Centre le conteneur horizontalement */
}

video.responsive-video {
    width: 100%; /* Assure que la vidéo prend toute la largeur du conteneur */
    border-radius: 10px;
}


.video-conteneur img {
    display: none;
}

/* Styles améliorés pour la section équipe */
.equipe {
    background-color: #f9f9f9;
    padding: 60px 20px;
    margin-bottom: 50px;
}

.equipe h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #360C0C;
    font-size: 2.5em;
    font-weight: bold;
}

/* Styles pour la section équipe en liste horizontale */
.membres-equipe {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.membre {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.membre:nth-child(even) {
    flex-direction: row-reverse; /* Alterne l'ordre pour chaque membre */
}

.membre:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.membre-img {
    flex: 1;
    max-width: 40%; /* Limite la largeur de l'image/vidéo */
    overflow: hidden;
    border-right: 3px solid #360C0C;
}

.membre:nth-child(even) .membre-img {
    border-right: none;
    border-left: 3px solid #360C0C;
}

.membre-img img, .membre-img video {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.membre-img:hover img, .membre-img:hover video {
    transform: scale(1.1);
}

.membre-contenu {
    flex: 2;
    padding: 20px;
    text-align: left;
}

.membre-contenu h3 {
    margin: 0 0 10px;
    color: #360C0C;
    font-size: 1.8em;
    font-weight: bold;
}

.membre-contenu p {
    font-size: 1em;
    color: #555;
    line-height: 1.5;
    margin-bottom: 15px;
}

.membre-contenu .btn-details {
    display: inline-block;
    padding: 10px 20px;
    background-color: #360C0C;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.membre-contenu .btn-details:hover {
    background-color: #5a1a1a;
}


/* Lightbox CSS */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
}

.lightbox-content img, .lightbox-content video {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #360C0C;
    color: #ffffff;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-right {
    align-items: flex-end;
}

.footer-links {
    margin-bottom: 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.1);
}

.footer-contact {
    margin-top: 10px;
    text-align: left;
}

.footer-contact a {
    color: #ffffff;
    text-decoration: none;
}

/* Media Query pour les écrans de taille maximale de 768px */
@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
    }
    
    .header-title {
        font-size: 1.2em;
    }

    .header-subtitle {
        font-size: 0.8em;
    }

    .centre {
        text-align: center;
        margin-top: 20px;
        position: static;
        margin-left: 0;
        margin-right: 0;
    }

    .bar1 {
        width: 45px;
    }

    .bar2 {
        width: 45px;
    }

    .bar3 {
        width: 45px;
    }

    .login-container {
        margin-top: 20px;
        text-align: center;
        margin-right: 0;
    }

    .video-conteneur {
        max-width: 100%; /* Remettre la taille à 100% pour les écrans plus petits */
    }

    .responsive-video {
        display: none;
    }

    .video-conteneur img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* Spécifiquement pour les vidéos dans les membres de l'équipe */
    .membre video.responsive-video {
        display: block; /* Assurez-vous que la vidéo est affichée */
        width: 100%; /* Ajuster la largeur pour s'adapter à l'écran */
        height: auto; /* Ajuster la hauteur automatiquement */
    }

    .membre img {
        display: block;
        width: 100%;
        height: auto; /* Ajuster la hauteur automatiquement */
    }

    .membres-equipe {
        flex-direction: column; /* Passe en disposition verticale */
        gap: 20px; /* Réduit l'espacement entre les membres */
    }

    .membre {
        flex-direction: column; /* Réorganise chaque membre en colonne */
        text-align: center; /* Centre le contenu */
    }

    .membre:nth-child(even) {
        flex-direction: column; /* Supprime l'alternance pour les petits écrans */
    }

    .membre-img {
        max-width: 100%; /* Assure que l'image prend toute la largeur */
        border: none; /* Supprime les bordures */
    }

    .membre-contenu {
        padding: 10px; /* Réduit le padding pour économiser de l'espace */
        text-align: center; /* Centre le texte */
    }

    .membre-contenu h3 {
        font-size: 1.5em; /* Réduit légèrement la taille du titre */
    }

    .membre-contenu p {
        font-size: 0.9em; /* Réduit la taille du texte */
    }

    .membre-contenu .btn-details {
        font-size: 0.9em; /* Ajuste la taille du bouton */
        padding: 8px 16px; /* Réduit le padding du bouton */
    }

    .footer-right {
        align-items: flex-start; /* Aligne les liens à gauche */
    }

    .footer-links {
        text-align: left; /* Assure que les liens sont alignés à gauche */
    }

    .footer-contact {
        text-align: left; /* Aligne également les informations de contact à gauche */
    }
}

/* Media Query pour les écrans de taille maximale de 425px */
@media screen and (max-width: 425px) {

    /* Centre le conteneur principal */
    .container {
        flex-direction: column;
        align-items: center;
    }

    /* Réduis la taille des titres pour une meilleure lisibilité */
    .title {
        font-size: 20px;
    }

    .title-container {
        margin-top: 27px;
        margin-bottom: 10px;
    }

    /* Ajuste la taille et le positionnement du bouton hamburger */
    .hamburger-menu {
        width: 30px;
        height: 20px;
    }

    .bar1, .bar2, .bar3 {
        height: 2px;
        background-color: #fff;
    }

    .bar1 {
        width: 30px;
    }

    .bar2 {
        width: 30px;
    }

    .bar3 {
        width: 30px;
    }

    /* Centre le texte du conteneur de connexion */
    .login-container {
        margin-top: 20px;
        text-align: center;
        margin-right: 0;
    }

    /* Spécifiquement pour les vidéos dans les membres de l'équipe */
    .membre video.responsive-video {
        display: block; /* Assurez-vous que la vidéo est affichée */
        width: 100%; /* Ajuster la largeur pour s'adapter à l'écran */
        height: auto; /* Ajuster la hauteur automatiquement */
    }

    .membre img {
        display: block;
        width: 100%;
        height: auto; /* Ajuster la hauteur automatiquement */
    }

    .equipe h2 {
        font-size: 1.8em; /* Réduit la taille du titre principal */
    }

    .membre-contenu h3 {
        font-size: 1.2em; /* Réduit encore la taille du titre */
    }

    .membre-contenu p {
        font-size: 0.8em; /* Réduit davantage la taille du texte */
    }

    .membre-contenu .btn-details {
        font-size: 0.8em; /* Ajuste encore la taille du bouton */
        padding: 6px 12px; /* Réduit davantage le padding du bouton */
    }
}
