RewriteEngine On

# Assurer que les fichiers et dossiers existent
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes vers index.php
RewriteRule ^ index.php [QSA,L]
